<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div style="margin-bottom: 10px;">
        <a style="font-size:20px;text-decoration: none;color: aqua;" href="/">Go Back</a>
    </div>

    <h1>All Users</h1>
    <hr>

    <div id="parent-box">

        <div id="user-box">
            <div style="height: 180px;width:180px;background-color: aqua;margin-bottom:5px"></div>
            <h2 style="margin-bottom: 5px;">Ankit Kumar</h2>
            <h4 style="margin-bottom:10px;">Email@yashoo.in</h4>
            <div style="margin-top: 8px; display: flex; justify-content: space-evenly">
                <a href=""  style="text-decoration: none;color:yellow">Edit User</a>
                <a href=""  style="text-decoration: none;color:red">Delete User</a>
            </div>
        </div>
        
        <div id="user-box">
            <div style="height: 180px;width:180px;background-color: aqua;margin-bottom:5px"></div>
            <h2 style="margin-bottom: 5px;">Ankit Kumar</h2>
            <h4 style="margin-bottom:10px;">Email@yashoo.in</h4>
            <div style="margin-top: 8px; display: flex; justify-content: space-evenly">
                <a href=""  style="text-decoration: none;color:yellow">Edit User</a>
                <a href=""  style="text-decoration: none;color:red">Delete User</a>
            </div>
        </div>
    </div>

</body>
</html>